doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700' rel='stylesheet')
  link(rel='stylesheet' href='/css/style-1.css')
  title=pageTitle
include ../../includes/navigation-bar.pug

- var currentDate = new Date().toISOString().split('T')[0];

section.section-header
  .header__hero
    .header__hero-overlay &nbsp;
    img.header__hero-img(src=`/${service.imageUrl}`)
  .heading-box
    h1.heading-primary
      span=service.title
    .heading-box__group
      .heading-box__detail
        svg.heading-box__icon
          use(xlink:href='img/icons.svg#icon-clock')
        span.heading-box__text Barangay 20
      .heading-box__detail
        svg.heading-box__icon
          use(xlink:href='img/icons.svg#icon-map-pin')
        span.heading-box__text= service.location

section.section-description
  .overview-box
    div
      .description-box
        h2.heading-secondary.ma-bt-lg Select your prefered date for your schedule!
        p.description__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus eget ipsum non pretium. Quisque imperdiet molestie mi sit amet pulvinar. Nullam sed elit aliquam, cursus libero at, elementum magna. Aliquam cursus orci nisi. Phasellus luctus
        if (errorMessage)
          div(class="user-message user-message--error")= errorMessage
        .overview-box__detail
          form(action="/service-schedule", method="POST" class="form_scheduleDate")
            label.overview-box__label Date
            input.mt-top-med(type="date", min=`${currentDate}`, name="date")
            input.mt-top-med(type="hidden" value=`${service._id}`, name="serviceId")
            button.mt-top-med.btn.btn--green.span-all-rows(type="submit") Schedule now!
  .description-box
    h2.heading-secondary.ma-bt-lg About the service
    p.description__text= service.description
