include ../../includes/admin/admin-head.pug

.container-scroller
  include ../../includes/admin/admin-navbar-up.pug
  .container-fluid.page-body-wrapper
    include ../../includes/admin/admin-navbar-side.pug
    .main-panel
      .content-wrapper
        .row
          .col-lg-12.grid-margin.stretch-card
            .card
              .card-body
                h4.card-title= pageTitle
                .table-responsive
                  each news in newsData
                    table.table.table-striped
                      thead
                        tr
                          th Title
                          th Date Created
                        tbody
                          tr
                            td= news.title                                
                            td= news.date                           
                            td
                              a(href=`/admin/manage-news/edit-news/${news._id}`) 
                                button.btn.btn-dark.btn-icon-text(type='button')
                                    | Edit
                                    i.ti-file.btn-icon-append
                            td
                              form(action="/admin/manage-news/delete-news",method="POST")
                                input(type="hidden", value=`${news._id}`, name="newsId")
                                button.btn.btn-danger(type='submit') Delete 



 
include ../../includes/admin/admin-scripts.pug